<li class="list-group-item p-3 note">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      (change)="checkedChange.emit(taskId)"
    />
    <label class="form-check-label"></label>
  </div>

  <div [class.isChecked]="isChecked">
    {{ title }}
    <span class="date-item">{{ currentDate }}</span>
  </div>

  <button
    type="button"
    class="btn btn-outline-danger btn-sm"
    (click)="deleteTask.emit(taskId)"
  >
    &times;
  </button>
</li>
